.alert-danger.p05{ padding: .55rem 1.25rem; }

/*====================================================================================================*/
/* Common Css for all admin pages. */
/*====================================================================================================*/
.table.dataTable td{  padding: 0.2rem !important; }

/*====== utility css ======*/
.w100x{ width: 100px;  }
.h100x{ height: 100px;  }
.margin_auto{ margin:0 auto;  }



/*====== spinner css ======*/
.smallSpinner{ width: 120px; height: 120px; position: relative; margin: 0 auto; }
.btnSpinner{ width: 20px !important; height: 20px !important;  }
.spinner {
    position: relative;
    display: inline-block;
    width: 1.01em;
    height: 1.01em;
}
.spinner.center, .spinnerw.center{
  position: absolute;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.loader_rotate .spinner.center{
    left:-1px;
    top:-6px;
}

.spinner .spinner-blade {
  position: absolute;
  opacity:0;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.267em;
  border-radius: 0.5em;
  background-color: #000;
  -webkit-filter: blur(0px); filter: blur(0px);
  -webkit-transform-origin: center -0.2222em;
      -ms-transform-origin: center -0.2222em;
          transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
          animation: spinner-fade 1s infinite linear;
}
.spinnerw .spinner-blade,
.spinnerw .spinner-blade {
    background-color: #FFF;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
          animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
          animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
          animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
          animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
          animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
          animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
          animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
          animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
          animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spinner-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*====== Input Checkbox css ======*/
input[type=checkbox] {
   position: relative;
   cursor: pointer;
   margin:4px 10px;
 }
 input[type=checkbox]:before {
   content: "";
   display: block;
   position: absolute;
   width: 22px;
   height: 20px;
   top: 0;
   left: 0;
   border: 2px solid #007bffa3;
   border-radius: 4px;
   background-color: white;
}
 input[type=checkbox]:checked:after {
   content: "";
   display: block;
   width: 8px;
   height: 12px;
   border: solid black;
   border-width: 0 2px 2px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   position: absolute;
   top: 2px;
   left: 6px;

}


.specialinputblue[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin:4px 10px;
  }
  .specialinputblue[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #007bffa3;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
 }
 .specialinputblue[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #007bffa3;

    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(55, 121, 245);
 }


 .specialinputgreen[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin:4px 10px;
  }
  .specialinputgreen[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #007bffa3;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
 }
 .specialinputgreen[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #007bffa3;

    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(114, 235, 103);
 }

 .specialinputred[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin:4px 10px;
  }
  .specialinputred[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 22px;
    height: 20px;
    top: 0;
    left: 0;
    border: 2px solid #007bffa3;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
 }
 .specialinputred[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 22px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #007bffa3;

    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    position: absolute;
    top:0;
    left:0;
    background-color: rgb(212, 8, 8);
 }


 @keyframes spinner {
    to {transform: rotate(360deg);}
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
  }

/*====================================================================================================*/
/* JobSeeker Listing page. */
/*====================================================================================================*/
/*====== Profile Gallery popup css ======*/
.profileImg img {
		max-width: 100%;
		border: 1px solid #f8f9fa6e;
    margin: 10px 0px;
    padding: 0px;
    background: #f8f9fa6e;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 4px;
  }
.profileImg {
    border: 1px solid #f8f9fa6e;
    margin: 10px 0px;
    padding: 10px;
    background: #f8f9fa6e;
    min-height: 300px;
}

.profleMediaGalleryBox { margin-top: 30px; }
.profleMediaGallery img {
		box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
		border-radius: 4px;
		margin: 1%;
		width: 98%;
	}
.profleMediaGalleryImage {
    width: auto;
    height: auto;
    max-width: 280px;
    max-height: 280px;
    min-width: 130px;
    transition: 0.5s ease;
    display: inline-block;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin: 3px;
}

/*====== Videos Popup css ======*/
.profleVideos img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    transition: 0.5s ease;
    display: inline-block;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin: 3px;
}
.profileVideoShow .videoPlayer { max-width: 100%; }

select#filter_job {
    width: 100%;
}
.adminStatus{
  display: block;
  width: 100px;
}