.fl_right { float: right; }
.fl_left { float: left; }
.float_none{ float: none !important; }

.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }

.dblock{ display: block; }
.dtable{ display: table; }
.dinline_block{ display: inline-block; }
.d-contents{display: contents}
.dflex{display: flex}
.hide_it { display: none !important; }
.hide_it2 { display: none ; } /* Removed !important */
.not_visible { visibility: hidden !important; opacity: 0 !important; }
.visible_it{ visibility: visible !important;  opacity: 1 !important; }
.dwebkitbox{display:-webkit-box}
.w100{ width: 100% !important; }
.w10{ width: 10% !important; }
.w15{ width: 15% !important; }
.w80{ width: 80% !important; }
.w70{ width: 70% !important; }
.w20{ width: 20% !important; }
.w49{ width: 49% !important; }
.w50{ width: 50% !important; }
.wauto{ width: auto !important; }
.h100{ height: 100% !important; }

.box_border{box-sizing: border-box; }

.margin_auto{ margin: 0 auto; }
.m0{ margin: 0px !important; }
.m5{ margin: 5px; }
.m_rb20{ margin: 0px 20px 20px 0px ; }
.mb10{ margin-bottom: 10px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb40{ margin-bottom: 40px; }

.mt20{ margin-top: 20px !important; }
.mt10{ margin-top: 10px !important; }
.ml20{ margin-left: 20px !important; }
.my10{margin: 10px 0px 10px 0px}
.p0{ padding: 0px !important; }
.pb10{ padding-bottom: 10px; }
.p10{ padding: 10px !important;  }
.p20{ padding: 20px !important;  }
.pt20{ padding-top: 20px !important;  }
.mx10{margin: 0px 10px 0px 10px}
.bottom_10{ bottom: 10px !important; }
.ml_10{ margin-left:10px;}
.icon_green{ color: #8ccd01; }
.bold{ font-weight: bold; }
.popup { position: relative; }
.modal.wauto{ max-width: inherit; }
.pb20{ padding-bottom: 20px !important;}
.center{ text-align: center; }
.text_right{ text-align: right; }
.text_capital{text-transform: capitalize; }
.relative{ position: relative;}
.font13{font-size: 13px}
.font15{font-size: 15px}
.text-danger{color: #bd2130}
button.btn.pink:hover {
    background: #e7495c;
    color: #FFFFFF;
}
button.btn.pink { background: #ff6d85; }
button.btn {
    transition: background-color 0.3s ease;
    font-size: 18px;
    height: 46px;
    padding: 0 45px 1px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button.btn:disabled, button.btn.disabled {
    transition: none;
    background: #9f9f9f!important;
    cursor: pointer;
}



.color_red{ color: #ff5f4e; }
.color_white{ color: white; }

.pointer{cursor: pointer;}

.cmodal .spinner_loader,
.cmodal .apiMessage{ display: none;}
.cmodal.showLoader .spinner_loader{ display: block !important;}
.cmodal.showLoader .img_chat,
.cmodal.showLoader .double_btn{ display: none !important; }

.cmodal.showMessage .img_chat,
.cmodal.showMessage .confirm_btn{ display: none !important; }
.cmodal.showMessage .apiMessage{ display: block !important; }
.cmodal .spinner_loader{
    position: relative;
    width: 100%;
    min-height: 50px;
    font-size: 22px;
}
.modal.cmodal .pp_confirm .btn {
    display: inline-block;
    float: none !important;
    padding: 0;
    border-radius: 3px !important;
    max-width: 48%;
}
.goldstar{
    margin-top: 10px;
    margin-left: -18px;
}
.silverstar {
    margin-left: -18px;
}
/*.silverstar img { height: 40px; }*/
.goldstar img, .silverstar img {

    margin: 0;
    padding: 0;
    width: 18px;

}
.js_star{
 position: absolute;
}
.js_profile_video {
    position: absolute;
    margin-left: 0px;
    margin-top: 20px;
    width: 55px;
    border-radius: 4px;
    padding: 4px;
}
.OrangeBtn{ background: #ff5f4e;  }
.select_aw .drop_down { width: 100% !important; }

/*===========custom pagination css ===========*/
.cpagination li.page-item {
    display: inline-block;
    border: 1px solid #ff5f4e;
    border-radius: 4px;
    vertical-align: text-bottom;
}
.cpagination li.page-item span {
    text-align: center;
    padding: 9px;
    display: table-cell;
}
.cpagination li.page-item.active {
    color: white;
    background: #ff5f4e;
}


.location_map {
    height: 250px;
    margin: 2px;
    border-radius: 4px;
}



/*=========== toggleSwitchButton css ===========*/
/*.toggleSwitchButton .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.toggleSwitchButton .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggleSwitchButton .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggleSwitchButton .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.toggleSwitchButton input:checked + .slider { background-color: #2196F3;}
.toggleSwitchButton input:focus + .slider { box-shadow: 0 0 1px #2196F3;}
.toggleSwitchButton input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.toggleSwitchButton .slider.round { border-radius: 34px; }
.toggleSwitchButton .slider.round:before { border-radius: 50%; }
*/

.toggleSwitchButton {
    display: inline-block;
    margin: 10px;
    margin-left: 0px;
}

.info ul.list_info li:nth-child(3) {
    display: block !important;
}




/*========================================== Job Qualification type ==========================================*/

.searchField_qualification .dot_list li { display: none; }
.searchField_qualification.degree .degree { display: inline-block; }
.dot_list li {
  width: 50%;
  vertical-align: top;
  cursor: pointer;
  float: left;
  position: relative;
  margin-bottom: 2px;
}
.searchField_qualification.trade .trade { display: inline-block; }
.dot_list li:before{
    font-size: 18px;
    content: '\2022';
    position: absolute;
    left: 0;
    margin: 1px 4px;
}
.dot_list li span {
    margin-left: 15px;
    display: block;
    padding: 2px;
    margin-bottom: 1px;
}
.dot_list {
    margin: 12px 4px;
    display: table;
}
.dot_list li.active {
    cursor: pointer;
    background: #9E9E9E;
    color: white;
    border-radius: 4px;
}

/*========================= For Removing Spaces in Qualificaiton Step2 (university) ===================================*/

.ind_exp{
width: 103%;
}

/*========================= For Removing Spaces in Qualificaiton Step2 (university) ===================================*/

.qualifiCationBullet {
    margin-right: 10px;
    margin-top: 5px;
}
.qualifType{
    /*margin-left: 10px;*/
    font-size: 14px;
}
.qualifTypeSpan{
    text-transform: capitalize;
    font-weight: bold;
}
.head.m0 {
    text-align: center !important;
    padding: 15px 0px !important;
    background: #142d69;
    color: white !important;
    font-size: 20px !important;
}
body.register.step2>div.jquery-modal.blocker.current>div#jobApplyModal {
    margin-top: 100px;
}


/* ================================================= Interview Concierge Home Page ================================================= */
.interviewConcierge{
    position: absolute;
    top: 4%;
    width: auto;
    left: 14%;
    color: white;
    z-index: 5;
    border: 1px solid #ffffffbd;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.interviewConciergeRoute {color: white; text-decoration: none;}
..pointer{
  cursor: pointer;
}

/* ============================================= Cross Reference ============================================= */

.referees {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 46%;
    margin-bottom: 10px;
}

.declineButton:hover{
  color: white !important;  
}
.arrowRight{position: relative;bottom: 1px;font-size: 10px}
/* ============================================= Cross Reference ============================================= */

.custom-btn {background-color: #28a745;border-color: #28a745;color: white;cursor: pointer;display: inline-block;font-weight: 400;
    text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;
    -ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;font-size: 1rem;line-height: 1.5;border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}

.custom-btn:hover {background-color: #218838;border-color: #1e7e34;}
.w800px{width: 800px;}
