.fl_right { float: right; }
.fl_left { float: left; }
.float_none{ float: none !important; }

.valign-middle { vertical-align: middle; }
.valign-top { vertical-align: top; }


.dblock{ display: block; }
.dtable{ display: table; }
.dinline_block{ display: inline-block; }
.hide_it { display: none !important; }
.visible_it{ visibility: visible !important;  opacity: 1 !important; }

.w100{ width: 100% !important; }
.w49{ width: 49% !important; }
.wauto{ width: auto !important; }
.h100{ height: 100% !important; }

.box_border{box-sizing: border-box; }

.margin_auto{ margin: 0 auto; }
.m0{ margin: 0px !important; }
.m5{ margin: 5px; }
.mb10{ margin-bottom: 10px !important; }
.mb20{ margin-bottom: 20px !important; }
.mt20{ margin-top: 20px !important; }

.p0{ padding: 0px !important; }
.p10{ padding: 10px !important;  }
.p20{ padding: 20px !important;  }
.pb20{ padding-bottom: 20px !important;  }

.bottom_10{ bottom: 10px !important; }

.icon_green{ color: #8ccd01; }
.bold{ font-weight: bold; }
.popup { position: relative; }
.modal.wauto{ max-width: inherit; }

.center{ text-align: center; }
.text_right{ text-align: right; }
.text_capital{text-transform: capitalize; }

.relative{ position: relative;}

button.btn.pink:hover {
    background: #e7495c;
    color: #FFFFFF;
}
button.btn.pink { background: #ff6d85; }
button.btn {
    transition: background-color 0.3s ease;
    font-size: 18px;
    height: 46px;
    padding: 0 45px 1px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button.btn:disabled, button.btn.disabled {
    transition: none;
    background: #9f9f9f!important;
    cursor: default;
}



.color_red{ color: #ff5f4e; }
.color_white{ color: white; }

.pointer{cursor: pointer;}

.cmodal .spinner_loader,
.cmodal .apiMessage{ display: none;}
.cmodal.showLoader .spinner_loader{ display: block !important;}
.cmodal.showLoader .img_chat,
.cmodal.showLoader .double_btn{ display: none !important; }

.cmodal.showMessage .img_chat,
.cmodal.showMessage .confirm_btn{ display: none !important; }
.cmodal.showMessage .apiMessage{ display: block !important; }
.cmodal .spinner_loader{
    position: relative;
    width: 100%;
    min-height: 50px;
    font-size: 22px;
}

.modal.cmodal .pp_confirm .btn {
    display: inline-block;
    float: none !important;
    padding: 0;
    border-radius: 3px !important;
    max-width: 48%;
}


.goldstar,
.silverstar {
    position: absolute;
    top: -20px;
    left: -20px;
}
.silverstar img { height: 40px; }

.js_profile_video {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 55px;
    border-radius: 4px;
    padding: 4px;
}

.OrangeBtn{ background: #ff5f4e;  }