

.newJob{ }
.form_field{
    margin: 10px 0px;
    vertical-align: top;
    display: table;
    width: 100%;
}
.field_error{ display: none; }
.form_label{
    width: 15%;
    display: inline-block;
    vertical-align: top;
    padding: 6px 0px;
    float: left;
}
.form_input{
    display: inline-block;
    width: 85%;
    float: left;
}


.newJob select{ min-width: 200px; }
.newJob .jq-selectbox__dropdown {
    min-width: 250px;
}

.newJob .selectbox{ display: inline-block;   }
.field_error.to_show {
    display: block;
    color: red;
    font-size: 12px;
}

.jobQuestions .jq-selectbox__select {
    background: #eee;
    min-width: 100px;
}

.jobQuestions  .jq-selectbox__dropdown {
    min-width: 136px;
    background: #b3b3b3;
    border-radius: 0px;
}

.jobQuestions .job_question  {
    background: #f3f5f973;
    padding: 10px;
    margin-bottom: 20px;
}
 
.w_25p.companyLogo img {
    margin: 10px 0px;
    box-shadow: inset 0 10px 0 #d5dce6, 0 3px 5px #333;
    text-align: center;
    display: table-cell;
    max-width: 100px;
}

.ja_description {
    background: #f3f5f973;
    padding: 10px;
    margin-bottom: 20px;
    vertical-align: top;
    display: table;
    width: 100%;
}
.characterCount {
    float: right;
    margin: 4px;
    font-size: 12px;
}
.jobAppDescription {
    margin: 2px 0px;
    border-radius: 4px;
    line-height: 17px;
}
.jobAppDescriptionBox span {
    padding: 5px 0px;
    display: block;
    padding-top: 4px;
    color: #eea11e;
}
.jobAppDescriptionBox {
    border-top: 1px dashed #9E9E9E;
    margin: 10px 0px;
    padding: 5px 0px;
}
/*=========== employer jobs page =============*/
.job_row {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    /* padding: 16px; */
    border-radius: 4px;
    margin-bottom: 10px !important;
    background: rgba(0, 0, 0, 0.09);
    font-size: 12px;
}
.job_heading {
    border-bottom: 1px solid #ced1da;
    background: #d5dce6;
}
h3.job_title {
    margin: 2px 0px 3px 0px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
}
.job_footer {
    border-bottom: 1px solid #ced1da;
    background: rgba(0, 0, 0, 0.05);
}
.w_25p{
    width: 24%;
    display: inline-block;
}

 
.w_80p{
    width: 80%;
    display: inline-block;
}
.job_detail{ margin: 10px 0px 20px 0px; }

.jbtn{
    cursor: pointer;
    padding: 4px 12px;
    border-radius: 4px;
    transition: 0.3s all;
}


/*=========== User jobs Apply page =============*/
.jbtn.graybtn {
    background: #eee;
    box-shadow: inset 0 1px 0 #d5dce6, 0 1px 2px #333;
}
.jbtn.graybtn:hover,
.jbtn.graybtn.active {
    box-shadow: inset 0 1px 0 #d5dce6, 0 1px 2px #333;
    color: white;
    background: #ff9800cc;
}
.jbtn.redbtn {
    box-shadow: inset 0 1px 0 #d5dce6, 0 1px 2px #333;
    background: #ff5f4e;
    color: white;
    border: 0px;
    margin: 4px 10px !important;
}
.jbtn.redbtn:hover,
.jbtn.redbtn:active{
    background: #ff9800cc;
    color: white;
}
.form_qstn {
    line-height: 25px;
    font-size: 13px;
    font-weight: 700;
    color: #7d7d7d;
}
.jobApplyModal .cont{min-height: 40px;}
.w_box{ box-sizing: border-box; }
.w_30p{ width: 30%; }
.w_70p{ width: 70%; }
.w_50p{ width: 50%; }
.jobSeekers_list {
    width: 100%;
    display: block;
}
.jobSeeker_row {
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    background: #ffffffcc;
}
.js_photo{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.js_profile_photo{ 
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 50%;
    width: 55px !important;
    height: 55px !important;
} 
.jobSeeker_row:nth-child(even) { background: #eee; }

.js_name h4{ font-size: 15px; }
.js_label{ font-weight: 700; }

.js_field {
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 4px;
    line-height: 15px;
    font-size: 13px;
}
.js_field p {
    line-height: 17px;
    font-size: 13px;
    padding-bottom: 4px;
}

span.js_tag {
    border: 1px solid #d5dce6;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
}
.js_actionBtn {
    position: absolute;
    bottom: -10px;
    right: 0;
}
.js_actionBtn .jbtn{
    padding: 3px 10px;
    font-size: 12px;
    margin: 1px;
}

.job_code, .job_employer {
    font-weight: bold;
    vertical-align: middle;
}
.job_code {
    background: #254c8ea8;
    color: white;
    display: inline-block;
    margin: 0px 10px 5px 10px;
    padding: 3px 10px;
    border-radius: 4px;
    font-weight: normal;
}

/*=========== Employer Detail page  =============*/
.emp_profile_photo_frame {
    display: inline-block;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    width: 150px;
    /*height: 150px;*/
    height: auto;
    margin: 10px;
}
.emp_profile_photo_frame a{
    border: 1px solid #cacaca;
    display: block;
    margin: 4px;
    border-radius: 4px;
}
.head2 {
    border-bottom: 1px solid #dcdee2;
    line-height: 32px;
    color: #5e5e5e;
    padding: 0 0 5px;
    margin: 0 0 10px;
    position: relative;
}
.video_box{
    display: inline-block;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    width: 180px;
    height: 100px;
    margin: 10px;
    position: relative;
    background: #ff5f4e;
}



/*======================================= job Detail Page =======================================*/

.jobDetail_field {
    display: table;
    width: 100%;
    margin: 5px 0px;
    border-bottom: 1px solid #9e9e9e75;
    padding: 5px 0px;
}

/*======================================= Employer/Jobs Page =======================================*/

.ApplicationCountButton{
    color: #142d69;
    padding: 2px 10px 2px 10px;
    box-shadow: inset 0 0px 0 #142d69, 0 1px 4px;

}
.ApplicationCountButton:hover{
    background: #142d69;
    color: white;
    border-radius: 5px;
}