

/*=========== Home page header css. ===========*/
.homeBg {
    background-image: url('../../images/mobile/homepage_bg.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    /*height: auto;*/
    height: 130%;
}
.head_top.absolute {
    top: 0;
    right: 0;
    z-index: 5;
    padding: 20px;
    /*margin: 18px 0px;*/
    font-size: 12px;
    color: white;
        text-align: right;
}
a#pp_sign_in_open {
    border: 1px solid rgba(225, 225, 225, 0.7);
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 10px;
}
.custom-select { height: 50px; }



/*=========== Registeration page css. ===========*/
.md-form label { color: white; }
.shadeBg {
    background: rgb(0 0 0 / 55%);
    width: 100%;
    height: auto;
}
.formBox {
    display: block;
    margin: 10px;
    border: 1px solid white;
    padding: 10px 15px;
}
.md-form .form-control{ color: white; }
.md-form .form-control,.md-form label { font-size: 0.7rem; }
.md-form label.active{ font-size: 0.6rem !important;    color: #ffbb33b0; }
.md-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0px 5px;
   
}
.md-form.bgShad{
    background: rgba(0,0,0,0.18);
     border: 1px solid rgba(0,0,0,0.16);
}
.btn-primary2 { 
    background-color: #384171 !important;
}