
.homeBg {
    /*background-image: url('../../images/mobile/homepage_bg.jpg');*/
    background-size: cover;
    position: absolute;
    width: 100%;
    height: auto;
    /*height: 100%;*/
}

body{
        background-image: url(http://creativedev22.xyz/images/bg3.jpg) !important;
        background-size: cover !important;
        background-position: right !important;
        overflow: hidden;
    }

.container-fluid {
    width: 90%;
    /*background: white !important;*/
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 20px;
    opacity: 1.0;
    overflow: scroll !important;
}
.arrowRight{position: relative;bottom: 1px;font-size: 10px}
.container{font-size: 13px; text-align: initial;}
label.active {color: black !important;}
#centralModalSuccess{padding-top: 50%;}