
/* ================== Global css for all mobile layout. ================== */
body{ background: #254c8ed1!important; }
.grey-skin .navbar{ background: #254c8e!important; }
main .container-fluid{ padding: 5px;  }


