
/* ================== Global css for all mobile layout. ================== */
body{ background: #254c8ed1!important; }
.grey-skin .navbar{ background: #254c8e!important; }
.btn.btn-xs { padding: .25rem 1.2rem; }
main .container-fluid{ 
    padding: 15px;  
    background: #f3f5f9;
}

/*========================= Container Background Color ========================= */

 


/* ================== Profile page css. ================== */
.cardBody {}
.cardBody.Edit .cardContent,.cardBody .cardEdit{ display: none; }
.cardBody.Edit .cardEdit{ display: block !important; }
.hide_it2{ display: none !important; }

html {
    background: white;
}
#over img {
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    display: block;
    border-radius: 50%;
}

.personalInfo{
    /*margin-top: 7px;*/
    text-align: center;

}
h6.card-header.h6 {
    background: #254c8e;
    color: white;
    font-size: 18px;
}
.card.shadow.p-3.mb-5.bg-white.rounded {
    margin-bottom: 15px !important;
}

select.industry_experience.userIndustryExperience, select.userQualification {
    width: 93%;
    margin-right: 4%;
}

/*======================================= Header Menu ======================================= */

#logoOverImg img{
	margin-left: auto;
    margin-right: auto;
    height: 80px;
    display: block;
    border-radius: 50%;
}

/*================================= Job Header =================================*/

.card-header.jobAppHeader{
	background: #d5dce6;
}
.jobAppH6{
	color: #254c8e;
    font-weight: 700;
    margin: 0px 0px 15px 0px;
    font-size: 20px;
    text-align: center;
}

.jobAppBody,.jobAppFooter{
	background: #dddfe3;
}
/*.jobAppHeader a {
    font-weight: 700;
    font-size: 18px;

}*/
.jobAppHeader .jobAppStatus {
    font-size: 11px;
}

.border-info {
    border-color: #254c8e !important;
}
.jobInfo{
	/*font-weight: 700 ;*/
	font-size: 11px
}
.jobInfo span{
	font-weight: 700;
}
.jobDetail{
	font-size: 11px !important;
	color: black !important;
}

div.row.jobInfo>.col.jobInfo {
    margin-bottom: 10px;
}
.jobDetailTitle{
	font-size: 18px;
	margin-bottom: 5px;
}
.jobFooter{
	color: black !important;
}
.applicationsCount{
    width: 96px;
    height: 34px;
    border-radius: 8px;
    border: 2px solid #254c8e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.applicationsCount:hover{
	background: #254c8e;
	color: white;
    border: 2px solid #254c8e;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.jobInfoFont {
    font-size: 14px;
    font-weight: bold;
}
@media only screen and (max-width: 465px) {
  .applicationsCount{
 	position: relative;
    right: 20px;
}
}

/* ======================================= Brows Jobs Image Height ======================================= */

/* ======================================= My Jobs Labler =======================================*/
.jobsTypeLablel {
    font-size: 9px;
    background: #254c8e;
    color: white;
    top: -8px;
    position: relative;
    border: none;
    left: 9px;
        border-radius: 3px;
}

/* ======================================= Header Font Size ======================================= */
.double-nav a {
    font-size: 12px;

    }
.active{
    color: #afdffc !important;
}

/* ======================================= Job Apply Page Select Background Color $ dropdown ======================================= */

select.browser-default.custom-select.custom-select-sm.mt-2,#exampleFormControlTextarea6 {
    background: #f3f5f9;
}

input.select-dropdown.form-control {
    color: black;
    border-bottom: 1px solid black !important;
}
 
/* ================== Jobs Filter page ================== */
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
}

.select-wrapper.white-text .select-dropdown, .select-wrapper.white-text .caret {
    color: white !important;
}

.FilterBox.trade div.qualification_trade, .FilterBox.degree div.qualification_degree { display: block !important; }


 
div#heading1,.p-2.card-body.mb-1.rgba-grey-light.white-text.FilterCont {
    background: #254c8e;
}

/* =================================================== Display None Class ===================================================*/
.hideme{
  display:none;
}

/* ================================================ Interested in Sections */
.interestedInEditColor,.interestedInEditColor {
  /*  background: #80808096;
    color: white;*/
  border: 2px solid #dc9f4a;
  padding: 7px;


}